<div class="mt-4">

    <h2>Danh sách ghi chú</h2>

    {{!-- actions button --}}
    <div class="d-flex justify-content-between">
        <div>
            <a href="/notes/create" class="btn btn-primary btn-sm font-weight-bold">
                <i class="fa-solid fa-plus"></i> Thêm mới
            </a>
            <a href="/notes/sort" class="btn btn-info btn-sm font-weight-bold">
                <i class="fa-solid fa-sort"></i> Sắp xếp
            </a>
            <a href="/notes/bookmark" class="btn btn-warning btn-sm font-weight-bold">
                <i class="fa-solid fa-bookmark"></i> Đánh dấu <span class="total-bookmark">({{totalBookmarkItems}})</span>
            </a>
            <a href="#" class="btn btn-purple btn-sm font-weight-bold" data-toggle="modal"
                data-target="#modalShowColumn">
                <i class="fa-solid fa-eye"></i> Hiển thị cột
            </a>
        </div>

        <div>
            <div style="display: inline;">
                <button type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false" style="background: #15617B;"
                    class="btn btn-success btn-sm btn-export-csv font-weight-bold dropdown-toggle">
                    <i class="fa-solid fa-file-export"></i> Xuất CSV
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <form action="/notes/export-csv" method="POST">
                        <button type="submit" class="dropdown-item btn-export-all">Tất cả</button>
                    </form>
                    <form action="/notes/export-csv" method="POST">
                        <button type="submit" class="dropdown-item btn-export-checked" disabled>Mục đã chọn</button>
                        <input type="hidden" name="noteIdsCsv">
                    </form>
                </div>
            </div>
            <a href="/notes/trash" class="btn btn-danger btn-sm font-weight-bold">
                <i class="fa-solid fa-trash"></i> Thùng rác <span>({{totalDeletedItems}})</span>
            </a>
        </div>
    </div>

    <button class="btn btn-success btn-sm mt-2 btn-search font-weight-bold">
        <i class="fa-solid {{{iconSearch isDisplaySearch}}}"></i> Tìm kiếm
    </button>

    {{!-- form mutil search --}}
    <form class="form-search" style="display: {{displaySearch isDisplaySearch}}">
        <div class="row mt-3">
            <div class="col-md-4">
                <label for="name">Tên ghi chú</label>
                <input type="text" class="form-control" placeholder="Tìm kiếm theo tên" name="s_name" id="name"
                    value="{{sName}}">
            </div>

            <div class="col-md-4">
                <label for="s_desc">Mô tả</label>
                <input type="text" class="form-control" placeholder="Tìm kiếm theo mô tả" name="s_desc" id="s_desc"
                    value="{{sDesc}}">
            </div>
        </div>

        <div class="row mt-2">
            <div class="col-md-4">
                <label for="createdAtFrom">Ngày tạo</label>
                <div class="d-flex">
                    <input type="date" class="form-control flex-grow-1" placeholder="Tìm kiếm theo mô tả"
                        name="s_createdAtFrom" id="createdAtFrom" value="{{sCreatedAtFrom}}">
                    <span class="mx-2">~</span>
                    <input type="date" class="form-control flex-grow-1" placeholder="Tìm kiếm theo mô tả"
                        name="s_createdAtTo" id="createdAtTo" value="{{sCreatedAtTo}}">
                </div>
            </div>

            <div class="col-md-4">
                <label for="updatedAtFrom">Ngày cập nhật</label>
                <div class="d-flex">
                    <input type="date" class="form-control flex-grow-1" placeholder="Tìm kiếm theo mô tả"
                        name="s_updatedAtFrom" id="updatedAtFrom" value="{{sUpdatedAtFrom}}">
                    <span class="mx-2">~</span>
                    <input type="date" class="form-control flex-grow-1" placeholder="Tìm kiếm theo mô tả"
                        name="s_updatedAtTo" id="updatedAtTo" value="{{sUpdatedAtTo}}">
                </div>
            </div>
        </div>

        <button class="btn btn-success btn-sm mt-4">
            <i class="fa-solid fa-magnifying-glass"></i>
            Tìm kiếm
        </button>

        <a href="/notes" class="btn btn-danger btn-sm mt-4">
            <i class="fa-solid fa-xmark"></i>
            Đặt lại
        </a>

    </form>

    {{!-- Checkall & choose option function --}}
    <form name="handle-form-actions" action="/notes/handle-form-actions" method="POST">
        <div class="mt-4">
            <label>
                <input type="checkbox" class="check-all">
                Chọn tất cả
            </label>

            <select style="height: 35px;" name="action" id="action" required>
                <option value="">--Vui lòng chọn--</option>
                <option value="delete">Xóa</option>
                <option value="bookmark">Đánh dấu</option>
                <option value="unbookmark">Hủy đánh dấu</option>
            </select>

            <button disabled class="btn btn-primary btn-sm btn-handle-form-actions">Thực hiện</button>
        </div>

        {{!-- show count record with select --}}
        <div class="mt-4 d-flex">
            <div>
                <label for="select-show-count-record">Hiển thị số lượng : </label>
                <select name="select-show-count-record" id="select-show-count-record">
                    <option value="10" {{selected 10 limit}}>10</option>
                    <option value="30" {{selected 30 limit}}>30</option>
                    <option value="50" {{selected 50 limit}}>50</option>
                    <option value="100" {{selected 100 limit}}>100</option>
                    <option value="150" {{selected 150 limit}}>150</option>
                    <option value="250" {{selected 250 limit}}>250</option>
                    <option value="500" {{selected 500 limit}}>500</option>
                    <option value="1000" {{selected 1000 limit}}>1000</option>
                </select>
            </div>
            <div class="ml-5 d-none count-checked-record">
                Số lượng chọn : <span class="font-weight-bold">0</span>
            </div>
        </div>

        {{!-- table list notes --}}
        <div class="mt-2 table-responsive">
            <table class="table table-hover table-striped">
                <thead>
                    <tr>
                        <th></th>
                        <th>#</th>
                        <th style="width: 20%;">Tên ghi chú {{{sortable 'name' _sort}}}</th>
                        <th class="{{showColumn isShowDesc}}" style="width: 20%;">Mô tả {{{sortable 'description'
                            _sort}}}</th>
                        <th class="{{showColumn isShowBookmark}}">Đánh dấu {{{sortable 'bookmark' _sort}}}</th>
                        <th class="{{showColumn isShowCreatedAt}}">Ngày tạo {{{sortable 'createdAt' _sort}}}</th>
                        <th class="{{showColumn isShowUpdatedAt}}">Ngày cập nhật {{{sortable 'updatedAt' _sort}}}
                        </th>
                        <th style="width: 19%;">Thao tác</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each notes}}
                    <tr>
                        <td><input type="checkbox" name="noteIds[]" value="{{this._id}}" class="noteIds"></td>
                        <td scope="row">{{sum @index 1 }}</td>
                        <td><span class="text-truncate-line-clamp-2">{{this.name}}</span></td>
                        <td class="{{showColumn @root.isShowDesc}}"><span
                                class="text-truncate-line-clamp-2">{{{this.description}}}</span></td>
                        <td class="{{showColumn @root.isShowBookmark}}">
                            <i class="{{bookmarkIcon this.bookmark}} fa-bookmark btn-bookmark fa-bookmark-{{this._id}}"
                                data-bookmark="{{this.bookmark}}" data-id="{{this._id}}">
                            </i>
                            <div style="width: 1rem;height: 1rem;"
                                class="spinner-border d-none spinner-border-{{this._id}}" role="status">
                                <span class="sr-only">Loading...</span>
                            </div>
                        </td>
                        <td class="{{showColumn @root.isShowCreatedAt}}">{{vnFullFormat this.createdAt}}</td>
                        <td class="{{showColumn @root.isShowUpdatedAt}}">{{vnFullFormat this.updatedAt}}</td>
                        <td>
                            <a href="/notes/{{this._id}}/edit" class="btn btn-warning btn-sm btn-edit">
                                <i class="fa-solid fa-pen-to-square"></i> Sửa
                            </a>
                            <a href="#" class="btn btn-danger btn-sm btn-delete" data-toggle="modal"
                                data-target="#modalConfirmDelete" data-id="{{this._id}}">
                                <i class="fa-solid fa-trash-can"></i> Xóa
                            </a>
                            <a href="#" class="btn btn-success btn-sm btn-copy" data-toggle="modal"
                                data-target="#modalConfirmCopy" data-id="{{this._id}}">
                                <i class="fa-solid fa-copy"></i> Sao chép
                            </a>
                        </td>
                    </tr>
                    {{else if (checkInvalidShowData @root.page @root.totalPage)}}
                    <tr>
                        <td colspan="8" class="text-center">Dữ liệu hiển thị không hợp lệ.
                            <a href="/notes">Quay về danh sách</a>
                        </td>
                    </tr>
                    {{else}}
                    <tr>
                        <td colspan="8" class="text-center">Không tìm thấy ghi chú.
                            <a href="/notes/create">Thêm mới ghi chú</a>
                        </td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>

        {{#if notes}}

        <div class="total-items">
            <p>Số lượng ghi chú: <b>{{totalItems}}</b></p>
        </div>

        {{/if}}

        {{!-- Pagination --}}

        {{#if notes}}

        <nav>
            <ul class="pagination">
                <li class="page-item {{prevPage page}}">
                    <a class="page-link" href="?page={{subtract page 1}}" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                        <span class="sr-only">Previous</span>
                    </a>
                </li>

                {{#each (pagination totalPages)}}
                <li class="page-item {{active this @root.page}}"><a class="page-link page-item-link"
                        href="?page={{this}}">{{this}}</a>
                </li>
                {{/each}}

                <li class="page-item {{nextPage page totalPages}}">
                    <a class="page-link" href="?page={{sum page 1}}" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                        <span class="sr-only">Next</span>
                    </a>
                </li>
            </ul>
        </nav>

        {{/if}}

    </form>
</div>

{{!-- Form submit request server --}}
<form class="form-delete" method="POST"></form>
<form class="form-copy" method="POST"></form>
<form class="form-bookmark" method="POST"></form>

{{!-- Modal confirm delete --}}
<div class="modal fade" id="modalConfirmDelete" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Xác nhận xóa?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Bạn chắc xóa ghi chú này chứ?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                <button type="button" class="btn btn-danger btn-delete-confirm">Xác nhận xóa</button>
            </div>
        </div>
    </div>
</div>

{{!-- Modal confirm copy --}}
<div class="modal fade" id="modalConfirmCopy" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Xác nhận copy?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Bạn chắc tạo 1 bản sao từ ghi chú này chứ?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                <button type="button" class="btn btn-success btn-copy-confirm">Xác nhận sao chép</button>
            </div>
        </div>
    </div>
</div>

{{!-- Modal show column --}}
<div class="modal fade" id="modalShowColumn" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Hiển thị cột</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="/apps/{{appId}}?_method=PUT" method="POST" name="form-show-column">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox1" name="is_show_desc"
                            value="1" {{checkedColumn isShowDesc}}>
                        <label class="form-check-label" for="inlineCheckbox1">Mô tả</label>
                    </div>

                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox2" name="is_show_bookmark"
                            value="1" {{checkedColumn isShowBookmark}}>
                        <label class="form-check-label" for="inlineCheckbox2">Đánh dấu</label>
                    </div>

                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox3" name="is_show_created_at"
                            value="1" {{checkedColumn isShowCreatedAt}}>
                        <label class="form-check-label" for="inlineCheckbox3">Ngày tạo</label>
                    </div>

                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox4" name="is_show_updated_at"
                            value="1" {{checkedColumn isShowUpdatedAt}}>
                        <label class="form-check-label" for="inlineCheckbox4">Ngày cập nhật</label>
                    </div>
                </form>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                <button type="button" class="btn btn-primary btn-update-app">Lưu</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal show full content-->
<div class="modal fade" id="modalShowContent" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <button style="text-align: right;margin-right: 10px;" type="button" class="close" data-dismiss="modal"
                aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <div class="modal-body">
                ...
            </div>
        </div>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        let isChecked = false

        var formDelete = $(".form-delete")
        var formCopy = $(".form-copy")
        var formBookmark = $(".form-bookmark")
        var formShowColumn = document.forms['form-show-column']

        var btnSearch = $(".btn-search")
        var btnDelete = $(".btn-delete")
        var btnCopy = $(".btn-copy")
        var btnDeleteConfirm = $(".btn-delete-confirm")
        var btnCopyConfirm = $(".btn-copy-confirm")
        var btnBookmark = $(".btn-bookmark")
        var btnHandleFormAction = $(".btn-handle-form-actions")
        var btnUpdateApp = $(".btn-update-app")

        var showSelectCountRecord = $("#select-show-count-record")
        var handleFormActions = document.forms['handle-form-actions']
        var checkAll = $(".check-all")
        var inputNoteIds = $("input[name='noteIds[]']")

        var dataID = null;

        // Update title
        document.title = "Quản lí ghi chú | Danh sách"

        // Click button search toogle
        btnSearch.click(function () {
            $(this).children("i").toggleClass("fa-plus fa-minus");
        })

        // Click button delete
        btnDelete.click(function () {
            dataID = $(this).data("id")
        })

        btnDeleteConfirm.click(function () {
            formDelete.attr("action", "/notes/" + dataID + "?_method=DELETE")
            formDelete.submit();
        })

        // Click button copy
        btnCopy.click(function () {
            dataID = $(this).data("id")
        })

        btnCopyConfirm.click(function () {
            formCopy.attr("action", "/notes/" + dataID + "/copy")
            formCopy.submit();
        })

        // Change show count
        showSelectCountRecord.change(function () {
            var countData = $(this).val()
            var str_param = getUpdatedParam("show-count", countData)
            window.location.href = "/notes?" + str_param
        })

        // click page link
        $(".page-item-link").click(function (e) {
            e.preventDefault();
            var page = $(this).text()
            var str_param = getUpdatedParam("page", page)
            window.location.href = "/notes?" + str_param
        })

        // Click button bookmark
        btnBookmark.click(function () {
            dataID = $(this).data("id")
            var bookmarkId = $(this).attr("data-bookmark");

            // hidden fa bookmark
            $(`.fa-bookmark-${dataID}`).hide()
            // show spinner border
            $(`.spinner-border-${dataID}`).removeClass("d-none")

            $.ajax({
                url: `/notes/${dataID}/bookmark?_method=PATCH`,
                type: 'POST',
                data: { bookmark: bookmarkId }
            })
                .done(function (data) {
                    // show fa bookmark
                    $(`.fa-bookmark-${dataID}`).show()
                    // hide spinner border
                    $(`.spinner-border-${dataID}`).addClass("d-none")
                    // toggle class
                    $(`.fa-bookmark-${dataID}`).toggleClass('fa-solid fa-regular')
                    // update data-bookmark in html
                    $(`.fa-bookmark-${dataID}`).attr('data-bookmark', data.bookmark)
                    // update totalBookmark in html
                    $(".total-bookmark").text(`(${data.totalBookmark})`)
                })
                .fail(function (error) {
                    console.log("error: ", error);
                })
        })

        // Check all
        checkAll.change(function () {
            if ($(this).is(':checked')) {
                inputNoteIds.prop('checked', true)
            } else {
                inputNoteIds.prop('checked', false)
            }
            renderCheckAllSubmitBtn()

            $("input[name='noteIdsCsv']").val(getValueIds())
        })

        // Note item checkbox change
        inputNoteIds.change(function () {
            if (inputNoteIds.filter(':checked').length == inputNoteIds.length) {
                checkAll.prop('checked', true)
            } else {
                checkAll.prop('checked', false)
            }
            renderCheckAllSubmitBtn()

            $("input[name='noteIdsCsv']").val(getValueIds())
        })

        //  Re-rendercheck all submit button
        function renderCheckAllSubmitBtn() {
            var checkedCount = $('input[name="noteIds[]"]:checked').length;

            if (checkedCount > 0) {
                btnHandleFormAction.attr('disabled', false);
                $(".count-checked-record").removeClass("d-none")
                $(".count-checked-record span").text(checkedCount)
                $(".btn-export-checked").attr('disabled', false)
            } else {
                btnHandleFormAction.attr('disabled', true);
                $(".count-checked-record").addClass("d-none")
                $(".btn-export-checked").attr('disabled', true)
            }
        }

        // Get value ids notes
        function getValueIds() {
            var noteIds = []
            $('input[name="noteIds[]"]:checked').each(function () {
                noteIds.push($(this).val())
            })
            return noteIds
        }

        // Click button update app
        btnUpdateApp.click(function () {
            formShowColumn.submit();
        })

        // Click column show name modal
        $("tbody tr td:nth-child(3) span").click(function () {
            var content = $(this).text();
            $("#modalShowContent").modal("show");
            $("#modalShowContent .modal-dialog").removeClass("modal-lg");
            $("#modalShowContent .modal-body").html(content);
        })

        // Click column show desciption modal
        $("tbody tr td:nth-child(4) span").click(function () {
            var content = $(this).html();
            $("#modalShowContent").modal("show");
            $("#modalShowContent .modal-dialog").addClass("modal-lg");
            $("#modalShowContent .modal-body").html(content);
        })
    })
</script>