<div class="mt-4">
    <h2>Danh sách ghi chú</h2>

    <div class="d-flex justify-content-between">
        <div>
            <a href="/notes/create" class="btn btn-primary btn-sm font-weight-bold">
                <i class="fa-solid fa-plus"></i> Thêm mới
            </a>
            <a href="/notes/create" class="btn btn-info btn-sm font-weight-bold">
                <i class="fa-solid fa-sort"></i> Sắp xếp
            </a>
            <a href="/notes/create" class="btn btn-warning btn-sm font-weight-bold">
                <i class="fa-solid fa-bookmark"></i> Đánh dấu <span>(0)</span>
            </a>
        </div>

        <div>
            <a href="/notes/trash" class="btn btn-danger btn-sm font-weight-bold">
                <i class="fa-solid fa-trash"></i> Thùng rác <span>({{totalDeleted}})</span>
            </a>
        </div>
    </div>

    <button class="btn btn-success btn-sm mt-2 btn-search font-weight-bold">
        <i class="fa-solid fa-magnifying-glass"></i> Tìm kiếm
    </button>

    <form class="form-search" style="display: {{is_dislay_search}}">
        <div class="row mt-3">
            <div class="col-md-4">
                <label for="name">Tên ghi chú</label>
                <input type="text" class="form-control" placeholder="Tìm kiếm theo tên" name="s_name" id="name"
                    value="{{s_name}}">
            </div>

            <div class="col-md-4">
                <label for="s_desc">Mô tả</label>
                <input type="text" class="form-control" placeholder="Tìm kiếm theo mô tả" name="s_desc" id="s_desc"
                    value="{{s_desc}}">
            </div>
        </div>

        <div class="row mt-2">
            <div class="col-md-4">
                <label for="createdAtFrom">Ngày tạo</label>
                <div class="d-flex">
                    <input type="date" class="form-control flex-grow-1" placeholder="Tìm kiếm theo mô tả"
                        name="s_createdAtFrom" id="createdAtFrom" value="{{s_createdAtFrom}}">
                    <span class="mx-2">~</span>
                    <input type="date" class="form-control flex-grow-1" placeholder="Tìm kiếm theo mô tả"
                        name="s_createdAtTo" id="createdAtTo" value="{{s_createdAtTo}}">
                </div>
            </div>

            <div class="col-md-4">
                <label for="updatedAtFrom">Ngày cập nhật</label>
                <div class="d-flex">
                    <input type="date" class="form-control flex-grow-1" placeholder="Tìm kiếm theo mô tả"
                        name="s_updatedAtFrom" id="updatedAtFrom" value="{{s_updatedAtFrom}}">
                    <span class="mx-2">~</span>
                    <input type="date" class="form-control flex-grow-1" placeholder="Tìm kiếm theo mô tả"
                        name="s_updatedAtTo" id="updatedAtTo" value="{{s_updatedAtTo}}">
                </div>
            </div>
        </div>

        <button class="btn btn-success btn-sm mt-2">Tìm kiếm</button>
    </form>

    <div class="mt-4">
        <label for="select-show-count-record">Hiển thị số lượng : </label>
        <select name="select-show-count-record" id="select-show-count-record">
            <option value="10" {{selected 10 limit}}>10</option>
            <option value="30" {{selected 30 limit}}>30</option>
            <option value="50" {{selected 50 limit}}>50</option>
            <option value="100" {{selected 100 limit}}>100</option>
            <option value="150" {{selected 150 limit}}>150</option>
            <option value="250" {{selected 250 limit}}>250</option>
            <option value="500" {{selected 500 limit}}>500</option>
            <option value="1000" {{selected 1000 limit}}>1000</option>
        </select>
    </div>

    <div class="mt-2 table-responsive">
        <table class="table table-hover table-striped">
            <thead>
                <tr>
                    <th>#</th>
                    <th style="width: 20%;">Tên ghi chú <a href="#"><i class="fa-solid fa-sort"></i></a></th>
                    <th>Mô tả</th>
                    <th>Đánh dấu</th>
                    <th>Ngày tạo</th>
                    <th>Ngày cập nhật</th>
                    <th style="width: 20%;">Thao tác</th>
                </tr>
            </thead>
            <tbody>
                {{#each notes}}
                <tr>
                    <td scope="row">{{sum @index 1 }}</td>
                    <td>{{this.name}}</td>
                    <td>{{this.description}}</td>
                    <td><i class="{{bookmarkIcon this.bookmark}} fa-bookmark btn-bookmark fa-bookmark-{{this._id}}"
                            data-bookmark="{{this.bookmark}}" data-id="{{this._id}}"></i>
                    </td>
                    <td>{{vnFullFormat this.createdAt}}</td>
                    <td>{{vnFullFormat this.updatedAt}}</td>
                    <td>
                        <a href="/notes/{{this._id}}/edit" class="btn btn-warning btn-sm btn-edit">
                            <i class="fa-solid fa-pen-to-square"></i> Sửa
                        </a>
                        <a href="#" class="btn btn-danger btn-sm btn-delete" data-toggle="modal"
                            data-target="#modalConfirmDelete" data-id="{{this._id}}">
                            <i class="fa-solid fa-trash-can"></i> Xóa
                        </a>
                        <a href="#" class="btn btn-success btn-sm btn-copy" data-toggle="modal"
                            data-target="#modalConfirmCopy" data-id="{{this._id}}">
                            <i class="fa-solid fa-copy"></i> Sao chép
                        </a>
                    </td>
                </tr>
                {{else}}
                <tr>
                    <td colspan="7" class="text-center">Không tìm thấy ghi chú. <a href="/notes/create">Thêm mới ghi
                            chú</a></td>
                </tr>
                {{/each}}
            </tbody>
        </table>

        {{!-- Pagination --}}

        {{#if notes}}

        <nav>
            <ul class="pagination">
                <li class="page-item {{prevPage page}}">
                    <a class="page-link" href="?page={{subtract page 1}}" tabindex="-1">Previous</a>
                </li>

                {{#each (pagination totalPage)}}
                <li class="page-item {{active this @root.page}}"><a class="page-link page-item-link"
                        href="?page={{this}}">{{this}}</a>
                </li>
                {{/each}}

                <li class="page-item {{nextPage page totalPage}}">
                    <a class="page-link" href="?page={{sum page 1}}">Next</a>
                </li>
            </ul>
        </nav>

        {{/if}}


    </div>
</div>

{{!-- Form submit request server --}}
<form class="form-delete" method="POST"></form>
<form class="form-copy" method="POST"></form>
<form class="form-bookmark" method="POST"></form>

{{!-- Modal confirm delete --}}
<div class="modal fade" id="modalConfirmDelete" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Xác nhận xóa?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Bạn chắc xóa ghi chú này chứ?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                <button type="button" class="btn btn-danger btn-delete-confirm">Xác nhận xóa</button>
            </div>
        </div>
    </div>
</div>

{{!-- Modal confirm copy --}}
<div class="modal fade" id="modalConfirmCopy" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Xác nhận copy?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Bạn chắc sẽ tạo 1 bản sao từ ghi chú này chứ?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                <button type="button" class="btn btn-success btn-copy-confirm">Xác nhận sao chép</button>
            </div>
        </div>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        var formDelete = $(".form-delete")
        var formCopy = $(".form-copy")
        var formBookmark = $(".form-bookmark")
        var btnDelete = $(".btn-delete")
        var btnCopy = $(".btn-copy")
        var btnDeleteConfirm = $(".btn-delete-confirm")
        var btnCopyConfirm = $(".btn-copy-confirm")
        var btnBookmark = $(".btn-bookmark")
        var showSelectCountRecord = $("#select-show-count-record")
        var dataID = null;

        // Update title
        document.title = "Quản lí ghi chú | Danh sách"

        // Click button delete
        btnDelete.click(function () {
            dataID = $(this).data("id")
        })

        btnDeleteConfirm.click(function () {
            formDelete.attr("action", "/notes/" + dataID + "?_method=DELETE")
            formDelete.submit();
        })

        // Click button copy
        btnCopy.click(function () {
            dataID = $(this).data("id")
        })

        btnCopyConfirm.click(function () {
            formCopy.attr("action", "/notes/" + dataID + "/copy")
            formCopy.submit();
        })

        // Change show count
        showSelectCountRecord.change(function () {
            var countData = $(this).val()
            var str_param = getUpdatedParam("show-count", countData)
            window.location.href = "/notes?" + str_param
        })

        // click page link
        $(".page-item-link").click(function (e) {
            e.preventDefault();
            var page = $(this).text()
            var str_param = getUpdatedParam("page", page)
            window.location.href = "/notes?" + str_param
        })

        // Click button bookmark
        btnBookmark.click(function () {
            dataID = $(this).data("id")
            var bookmark = $(this).data("bookmark")

            $.ajax({
                url: `/notes/${dataID}/bookmark?_method=PATCH`,
                type: 'POST',
                data: { bookmark: bookmark == 1 ? 0 : 1 }
            })
                .done(function (data) {
                    $(`.fa-bookmark-${dataID}`).toggleClass('fa-solid fa-regular')
                    $(`.fa-bookmark-${dataID}`).attr('data-bookmark', bookmark == 1 ? 0 : 1)
                })
                .fail(function (error) {
                    console.log("error: ", error);
                })


        })
    })
</script>