<div class="mt-4">
    <h2>Ghi chú đã xóa</h2>

    <a href="/notes" class="font-weight-bold"><i class="fa-solid fa-arrow-left"></i> Danh sách ghi chú</a>

    <div class="mt-2 table-responsive">
        <table class="table table-hover table-striped">
            <thead>
                <tr>
                    <th>#</th>
                    <th style="width: 20%;">Tên ghi chú</th>
                    <th>Mô tả</th>
                    <th>Ngày xóa</th>
                    <th style="width: 20%;">Thao tác</th>
                </tr>
            </thead>
            <tbody>
                {{#each notes}}
                <tr>
                    <td scope="row">{{sum @index 1 }}</td>
                    <td><span class="text-truncate-line-clamp-2">{{this.name}}</span></td>
                    <td><span class="text-truncate-line-clamp-2">{{this.description}}</span></td>
                    <td>{{vnFullFormat this.deletedAt}}</td>
                    <td>
                        <a href="#" class="btn btn-warning btn-sm btn-restore" data-id="{{this._id}}">
                            <i class="fa-solid fa-pen-to-square"></i> Khôi phục
                        </a>
                        <a href="#" class="btn btn-danger btn-sm btn-delete" data-id="{{this._id}}" data-toggle="modal"
                            data-target="#modalConfirmDelete">
                            <i class="fa-solid fa-trash-can"></i> Xóa vĩnh viễn
                        </a>
                    </td>
                </tr>
                {{else}}
                <tr>
                    <td colspan="7" class="text-center">Thùng rác trống. <a href="/notes">Danh sách ghi chú</a></td>
                </tr>
                {{/each}}
            </tbody>
        </table>

    </div>
</div>

{{!-- Form submit request server --}}
<form name="form-restore" method="POST"></form>
<form name="form-delete" method="POST"></form>

{{!-- Modal confirm delete --}}
<div class="modal fade" id="modalConfirmDelete" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Xác nhận xóa?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Hành động này sẽ xóa vĩnh viễn. Bạn chắc chắn?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                <button type="button" class="btn btn-danger btn-delete-confirm">Xác nhận xóa vĩnh viễn</button>
            </div>
        </div>
    </div>
</div>

<script>
    // Loaded DOM
    document.addEventListener("DOMContentLoaded", (event) => {
        let noteId;
        var formRestore = document.forms['form-restore'];
        var formDelete = document.forms['form-delete'];
        var btnRestore = $('.btn-restore');
        var btnDeleteConfirm = $('.btn-delete-confirm');

        // Update title
        document.title = "Quản lí ghi chú | Thùng rác";

        // Modal modalConfirmDelete show
        $('#modalConfirmDelete').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget)
            noteId = button.data('id')
        })

        // Click restore note
        btnRestore.click(function (e) {
            e.preventDefault();
            var id = $(this).data('id');
            formRestore.action = '/notes/' + id + '/restore?_method=PATCH';
            formRestore.submit();
        })

        // Click delete note
        btnDeleteConfirm.click(function () {
            formDelete.action = '/notes/' + noteId + '/forceDelete?_method=DELETE';
            formDelete.submit();
        })
    });

</script>